#top-header-main {
    text-align: center;
    display: block;
    background-color: #0b0b40;
    margin: 0, -10px, 0, 0, ;
}

#top-header-main h1 {
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    color: #fff;
}
   
    